{% block region_header %}
  {{ region_header }}
{% endblock %}

<div class="wrapper-outer wrapper-highlighted">
  <div role="region" class="wrapper-highlighted__inner">
    {% block region_highlighted %}
      {{ region_highlighted }}
    {% endblock %}
  </div>
</div>

<div class="wrapper-outer wrapper-main">
  <div class="wrapper-main__inner">

    <div class="column main" role="main">

      {% block region_help %}
        {{ region_help }}
      {% endblock %}

      <a id="main"></a>

      {% block region_content %}
        {{ region_content }}
      {% endblock %}

      {% if feed_icons %}
        {{ feed_icons }}
      {% endif %}

    </div>

    {% block region_sidebar_first %}
      {{ region_sidebar_first }}
    {% endblock %}

    {% block region_sidebar_second %}
      {{ region_sidebar_second }}
    {% endblock %}
  </div>
</div>

<aside class="wrapper-outer wrapper-breadcrumb">
  <div role="region" class="wrapper-breadcrumb__inner">
    {% block region_breadcrumb %}
      {{ region_breadcrumb }}
    {% endblock %}
  </div>
</aside>

{% block region_footer %}
  {{ region_footer }}
{% endblock %}
