<header class="wrapper wrapper-header">
  <div id="container-header" role="region" class="wrapper__inner wrapper-header__inner">
    {{ page.header }}
    {{ page.navigation }}
  </div>
</header>

<main class="wrapper wrapper--main">
  <section id="container-main" role="region" class="wrapper__inner wrapper-main__inner">
    <div id="content" class="column main" role="main">
      {% if page.highlighted %}
        <div class="main__highlighted">
          {{ page.highlighted }}
        </div>
      {% endif %}

      {{ breadcrumb }}

      <a id="main-content"></a>

      {% if messages %}
        {% set classes = ["main__messages"] %}
        {% embed "@molecules/blocks/block/block.twig"
        with {
        "element": "div"
        } %}
          {% block content %}
            {{ messages }}
          {% endblock %}
        {% endembed %}
      {% endif %}

      {% if tabs %}
        <nav class="main__tabs" role="navigation">
          {{ tabs }}
        </nav>
      {% endif %}

      {% if page.help %}
        <aside class="main__help" role="note">
          {{ page.help }}
        </aside>
      {% endif %}

      {% if action_links %}
        <nav class="main__action-links" role="navigation">
          <ul class="action-links" role="menubar">{{ action_links }}</ul>
        </nav>
      {% endif %}

      <div class="main__content">
        {{ page.content }}
      </div>

      {% if feed_icons %}
        <nav class="main__feed-icons" role="navigation">
          {{ feed_icons }}
        </nav>
      {% endif %}

    </div>
    <!-- /#content -->

    {{ page.sidebar_first }}
    {{ page.sidebar_second }}

  </section>
  <!-- /#main -->
</main>

<aside class="wrapper wrapper-breadcrumb">
  <section id="container-breadcrumb" role="region" class="wrapper__inner wrapper-breadcrumb__inner">
    {{ page.breadcrumb }}
  </section>
</aside>

<footer class="wrapper wrapper-footer">
  <section id="container-footer" role="region" class="wrapper__inner wrapper-footer__inner">
    {{ page.footer }}
  </section>
</footer>
